* {
  font-family: "Alata", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}

.title {
  text-align: center;
}

.title span {
  font-size: 4em;
}

.title span:first-child {
  color: #e24e42;
}

.title span:nth-child(2) {
  color: #e9b000;
}

.title span:last-child {
  color: #008f95;
}

.input-container {
  margin: 0 auto;
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  border: 1px solid #e9b000;
}

.input-container input {
  border: none;
  background: none;
  padding-left: 1em;
  padding-right: 1em;
}

.input-container button {
  border: none;
  background: none;
}

.input-container button:hover {
  cursor: pointer;
}

.result-container {
  display: flex;
}

input {
  padding: 0.5em;
}
